*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
/* common css */
body{
    font-family: 'Inter', sans-serif;
}
/* banner section css */
header{
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner{
    background-image: url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-text{
    text-align: center;
   
}
.banner-text h3{
    font-size: 32px;
    font-weight: 400;
}
.banner-text h2{
    font-size: 72px;
    font-weight: 900;
}

/* offer section css */


.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:120px ;
}
.offer-heading{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.offer>p{
    color: #F00;
    margin-bottom: 16px;
    font-size: 24px;
}
.offer>.catagory{
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}